<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="width: 100%;background-color: gold;text-align: center;padding: 1px">
     <label ><h1>查询系统</h1></label>
    </div>

<table border="1" id = 'mycart'>
<tr>
<td>表头（goodscode）</td>
<td>货物码（goodscode）</td>
<td>单价（Unit Price）</td>
<td>数量（amount）</td>
<td>小结（subtotal）</td>
<td rowspan="2">总计（total）</td>
</tr>
<tr>
<td>过滤项（goodscode）</td>
    <td><input name = cat1></td>
<td><input name = cat2></td>
<td><input name = cat3></td>
<td><input name = cat4></td>
<td><input name = cat5></td>
<td><button>查询</button></td>
</tr>
</body>
</html>