{% extends "layout.html" %}
{% block head %}
		<meta charset="utf-8">
		<title>订单info </title>
        <script src={{url_for('static',filename = 'jquery-3.4.1.js')}}></script>
		<meta name="description" content="网页的描述信息">
		<meta name="keywords" content="关键词,关键词">
{% endblock %}

{% block head_css %}
        #mycart{
width:100%;
}
    #mycart tr{
    width:100%;
    font-size:20px;
height:50px;
}
   #mycart td{
    text-align:center;
    width:10%;
height:50px;
}

{% endblock %}
{% block head_js %}
    $(document).ready(function(){
    $("#addtomycart").click(function(){
    var amount = $("#amount").val();
    var url = window.location.href;
    });
    $(".minus").click(
    function(){
    var curren_amount = $(this).next().find("input").val();
    if (curren_amount<=0){
    alert("购买数量需为正整数，Purchase Quantity Need to be Positive Integer ");
    return
    }
    var uniteprice = $(this).parent().parent().siblings(".price").text();
    var subtotal = $(this).parent().parent().siblings(".subtotal").text();
    var new_amount = Number(curren_amount)-1;
    $(this).next().find("input").val(new_amount);
    $(this).parent().parent().siblings(".subtotal").text(uniteprice*new_amount);
    var curren_total = $("#totalprice").text();
    $("#totalprice").text(curren_total-uniteprice);
    });

    $(".plus").click(
    function(){
    var curren_amount = $(this).prev().find("input").val();
    if (curren_amount<0){
    alert("购买数量需为正整数，Purchase Quantity Need to be Positive Integer ");
    return
    }
    var uniteprice = $(this).parent().parent().siblings(".price").text();
    var subtotal = $(this).parent().parent().siblings(".subtotal").text();
    var new_amount = Number(curren_amount)+1;
    $(this).prev().find("input").val(new_amount);
    $(this).parent().parent().siblings(".subtotal").text(uniteprice*new_amount);
    var curren_total = $("#totalprice").text();
    $("#totalprice").text(Number(curren_total)+Number(uniteprice));
    });


    $("#submit_bt").click(
    function (){
    var arrayObj = new Array();
    var is_has_goods = 0
    $(".content").each(function(){
    var goodcode = $(this).find(".goodcode").text();
    var amount = $(this).find(".amountipt").val();
    var price = $(this).find(".price").text();
    var data = {
    "goodcode":goodcode,
    "amount":amount,
    "price":price,
    };
    arrayObj.push(data)
    var is_has_goods = 1
    });

    var url = 'http://0861.info/mycart/';
    var str_json = JSON.stringify(arrayObj)

    $.post(url,{content:str_json},function(data){
    alert(data);
    $("table").html(data);
    });

    });






    })
{% endblock %}


{% block body %}
    <div style="width: 100%;background-color: orange;text-align: center;margin-top: 0px;float: left">
     <label><h1>订单管理（orders info）</h1></label>
    </div>

<table border="1" id = 'mycart'>
<tr>
<td>所有者（order owner）</td>
<td>货物码（goods code）</td>
    <td>货物种类（goods type）</td>
<td>货物单价（UnitPrice）</td>
<td>货物数量（amount）</td>
<td>小计（subtotal）</td>
<td>总计（total）</td>
</tr>
   {% for order in orders %}
    <tr class="content">
    <td class="order_owner">{{ order.usr_id }}</td>
    <td class="goodcode"><a href={{ url_for('goodinfobycode',nbr = order.goodcode )}}>{{ order.goodcode }}</a></td>
    <td class="goodtype">{{ order.GoodsType }}</td>
    <td class="orderprice_UnitPrice">{{ order.UnitPrice }}</td>
        <td class="amount">{{ order.amount }}</td>
        <td class="subtotal">{{ order.UnitPrice*order.amount }}</td>

                {% if loop.first %}

    <td rowspan={{ loop.length }} id = "totalprice">{{ order.totalmoney }}</td>
    {% endif %}
    </tr>
{% endfor %}





</table>

    <div style="width: 100%;background-color: orange;text-align: center;margin-top: 0px;float: right;height:80px">



    </div>
{% endblock %}